<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="../plugins/angularjs/angular.min.js" type="text/javascript"></script>
	<script src="../plugins/angularjs/angular-animate.min.js" type="text/javascript"></script>
	<script src="../plugins/angularjs/angular-route.min.js" type="text/javascript"></script>

	<!--引入对应的js文件-->
	<script src="../js/base.js" type="text/javascript"></script>
	<script src="../js/service/solrImportDataService.js" type="text/javascript"></script>
	<script src="../js/controller/solrImportDataController.js" type="text/javascript"></script>


    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="g5shopping" ng-controller="solrImportDataController">
  <!-- .box-body -->
<div class="box-header with-border">
<h3 class="box-title">Solr Items数据一键导入</h3>
</div>
         <div class="box-header with-border">
	         <button type="button" class="btn btn-default" title="新建" ng-click="importData()"><i class="fa fa-file-o"></i> 一键导入item数据</button>
	         <button type="button" class="btn btn-default" title="新建" ng-click="deleteData()"><i class="fa fa-file-o"></i> 一键删除item数据</button>
	         <button type="button" class="btn btn-default" title="新建" ng-click="deleteAllData()"><i class="fa fa-file-o"></i> 一键删除所有导入</button>
        </div>
   
</body>
</html>